body {
    background-color: #EEEFF1;
}

header {
    background-color: #EEEFF1;
}

.navbar-brand {
    color: #34547A;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Segoe UI', sans-serif;
}

.nav-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    border: none;
    background-color: #EEEFF1;
    border-radius: 8px;
    min-height: 50px;
    min-width: 100px;
    font-family: 'Segoe UI', sans-serif;
}

.nav-button:hover {
    background-color: #000000;
    color: white;
}

.my_header {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 78px;
    color: #000000;
    letter-spacing: 0.02em;
}

.header_paragraph {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #666666;
}

.my_section {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 78px;
    color: #000000;
    letter-spacing: 0.02em;
}

.last_section {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 78px;
    color: #000000;
    letter-spacing: 0.02em;
}

.my_footer {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 78px;
    color: #000000;
    letter-spacing: 0.02em;
}

.footer_span {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}